@page "/addProduct"
@using Microsoft.AspNetCore.Components.Forms

<h1 class="mt-5 mb-5 text-center">AddProduct</h1>


<EditForm class="w-50 m-auto border p-3" Model="@newProduct" OnValidSubmit="AddNewProduct" FormName="AddProductForm">
    <DataAnnotationsValidator />

    <div class="p-3 text-center">
        @*Le label pour le nom*@
        <label>Nom du produit</label>
        @*Le bind-Value pour lié l'input a la propriété Name de newProduct*@
        <InputText @bind-Value="@newProduct.Name" class="form-control  w-75 m-auto" placeholder="Entrez le nom du produit" />
        @*Le ValidationMessage pour afficher le message d'erreur du modele*@
         <ValidationMessage For="@(() => newProduct.Name)"/>
    </div>

    <div class="p-3 text-center">
        <label>Description</label>
        <InputText @bind-Value="newProduct.Description" class="form-control  m-auto  w-75" placeholder="Entrez la description" />
        <ValidationMessage For="@(() => newProduct.Description)" />
    </div>

    <div class="p-3 text-center">
        <label>Prix</label>
        <InputNumber @bind-Value="@newProduct.Price" class="form-control  m-auto  w-75" placeholder="Entrez le prix du produit" />
    </div>

    <div class="p-3 text-center">
        <label>Image</label>
        <InputText @bind-Value="@newProduct.ImageUrl" class="form-control  m-auto w-75" placeholder="Entrez l'URL de l'image" />
    </div>

    <div class="p-3 text-center">
        <label>Stock</label>
        <InputNumber @bind-Value="@newProduct.stock" class="form-control  m-auto w-75" placeholder="Entrez la description du produit" />
        <ValidationMessage For="@(() => newProduct.stock)" />
    </div>

    <div class="text-center p-3">
    <button type="submit" class="btn btn-outline-primary" >Ajout du produit</button>
    </div>

   </EditForm>
    
